body{
  background-color: black;
  color: #aaa;
}

.container{
  background-color: #777;
  padding:20px;
  display: flex;
  /* flex-direction: row; */
  width: 50%;
  height: 500px;
  margin: auto;
  /* flex-wrap: wrap-reverse; */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.item{
  background-color: #900;
  margin:5px;
  /* flex: 1; */
  font-size: 40px;
  font-family: sans-serif;
  flex-grow:1;
}

.item-grow2{
  flex-grow: 5;
}

.item-grow3{
  flex-grow: 10;
}