body{
  background-color: black;
  color: #aaa;
}

.container{
  background-color: #777;
  padding:20px;
  display: flex;
  /* flex-direction: row; */
  width: 50%;
  height: 500px;
  margin: auto;
  /* flex-wrap: wrap-reverse; */
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
}

.item{
  background-color: #900;
  margin:5px;
  /* flex: 1; */
  font-size: 40px;
  font-family: sans-serif;
}

.item-grow2{
  flex-grow: 5;
}

.item-grow3{
  flex-grow: 10;
}
.flex{
  flex: 1;
}

.order1{
  order: 1
}

.order2{
  order: 2
}

.order3{
  order: 3
}

.order0{
  order: 0
}

.align-self{
  align-self: center;
}