body{
  background-color: black;
  color: #aaa;
}

.container{
  background-color: #777;
  padding:20px;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  flex-wrap: wrap-reverse;
}

.item{
  background-color: #900;
  margin:10px;
  flex: 1;
  font-size: 40px;
  font-family: sans-serif;
}